{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filter
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="filter">
      {% for profession in professions %}
        <li><a href="{% url 'azubi_list' filter=profession  %}">{{profession.name}}</a></li>

      {% endfor %}


    </ul>
    </div>
    

        
    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <!-- Initialize Bootstrap functionality -->
    <script>
    // Initialize tooltip component
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    
    // Initialize popover component
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    </script>

  <div class="row">

    <div class="col-lg-2"  style="overflow-y: scroll; height: 100vh;">
     
      <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">Azubis</th>
          </tr>
        </thead>
        <tbody>
          {% for azubi in azubis %}
          <tr>
            <td><a href="{% url 'detail' filter=filter id=azubi.id  %}">{{ azubi.first_name }} {{azubi.last_name}} {{azubi.topic}}  </a><a href="mailto:{{azubi.email}}"><img style="float: right", src="{% static 'images/mail.png' %}" withd=20, height= 20 alt="My image"></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <div class="col-lg-10">
      {%if obj%}
      <div class="jumbotron">
        <h1 class="display-4">{{obj.first_name}} {{obj.last_name}}</h1>
        <p class="lead"><strong>Email: </strong><a href="mailto:{{obj.email}}">{{obj.email}}</a>  <strong>Telefon Nummer: </strong>{{obj.phone_number}} <strong>Geburtstag: </strong> {{obj.birthday}}</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
      {%else%}
      {% include 'include/no_azubi_detail.html' %}
      {%endif%}
      
    </div>
  </div>

</body>
</html>