<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>

  

  <div class="row">

    <div class="col-lg-2"  style="overflow-y: scroll; height: 100vh;">
     
      {% include 'include/azubi_list.html' %}

    </div>
    <div class="col-lg-10">
      {% include 'include/azubi_detail_view.html' %}
  </div>

</body>
</html>