<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Willst du wirklich {{azubi.first_name}} {{azubi.last_name}} Löschen?</h1>
    <a href="{% url 'detail' filter=filter id=azubi.id%}">Nein</a>
    <form class="d-flex" method="POST" action="{% url  'deleteconfirm' azubi.id %}" >
        {% csrf_token %}
        <input type="submit" value ="YES">Löschen</input>
      </form>
</body>
</html>