{% load static %}
<table class="table table-striped">  
    <thead style="background-color: #0278c9;">
      <tr>
        <th scope="col">Azubis 
            
                <div class="dropdown" style="float:right;">
                  <button class="dropbtn">Filter</button>
                  <div class="dropdown-content">
                    <a href="{% url 'azubi_list' filter='all'  %}">Alle</a>
                    {% for profession in professions %}
                    <a href="{% url 'azubi_list' filter=profession  %}">{{profession.name}}</a>
                    {% endfor %}
                  </div>
                </div> 


        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <form class="d-flex" method=POST action="{% url  'azubi_list'  filter=filter %}" >
            {% csrf_token %}
            <input type="search" label="search" name="azubi_search_input" style="width:100%">  
            <button type="submit"><image height=20 width=20  src="{% static 'images/lupe.png' %}"/></button>
          </form>
        </td>
      </tr>
      {% for azubi in azubis %}
      <tr>
        {%if obj.id == azubi.id %}
        <td style="background: rgba(144, 110, 184, 0.363)"><a href="{% url 'detail' filter=filter id=azubi.id %}">{{ azubi.first_name }} {{azubi.last_name}} {{azubi.topic}}  </a><a href="mailto:{{azubi.email}}"><img style="float: right", src="{% static 'images/mail.png' %}" withd=20, height= 20 alt="My image"></a></td>
        {%else%}
        <td ><a href="{% url 'detail' filter=filter id=azubi.id %}">{{ azubi.first_name }} {{azubi.last_name}} {{azubi.topic}}  </a><a href="mailto:{{azubi.email}}"><img style="float: right", src="{% static 'images/mail.png' %}" withd=20, height= 20 alt="My image"></a></td>
        {%endif%}
      </tr>
      {% endfor %}
    </tbody>
  </table>