{% load static %}
<table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">Azubis 
            
                <div class="dropdown" style="float:right;">
                  <button class="dropbtn">Filter</button>
                  <div class="dropdown-content">
                    <a href="{% url 'azubi_list' filter='all'  %}">Alle</a>
                    {% for profession in professions %}
                    <a href="{% url 'azubi_list' filter=profession  %}">{{profession.name}}</a>
                    {% endfor %}
                  </div>
                </div> 


        </th>
      </tr>
    </thead>
    <tbody>
      {% for azubi in azubis %}
      <tr>
        <td><a href="{% url 'detail' filter=filter id=azubi.id  %}">{{ azubi.first_name }} {{azubi.last_name}} {{azubi.topic}}  </a><a href="mailto:{{azubi.email}}"><img style="float: right", src="{% static 'images/mail.png' %}" withd=20, height= 20 alt="My image"></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>