<div class="col-md-8">
     
  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Name</h6>
    </div>
    <div class="col-sm-9 text-secondary">
      {{obj.first_name}} {{obj.last_name}}
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Geboren am</h6>
    </div>
    <div class="col-sm-9 text-secondary">
      {{obj.birthday}}
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Email</h6>
    </div>
    <div class="col-sm-9 text-secondary">
      {{obj.email}}
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Telefonnummer</h6>
    </div>
    <div class="col-sm-9 text-secondary">
      {{obj.phone_number}}
    </div>
  </div>


  <hr>

  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Addresse</h6>
    </div>
    <div class="col-sm-9 text-secondary">
      Bay Area, San Francisco, CA
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">PLZ</h6>
    </div>
    <div class="col-sm-9 text-secondary">
      Bay Area, San Francisco, CA
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Abteilung</h6>
    </div>
    <div class="col-sm-9 text-secondary">
      {{obj.department}}
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">Ausbildungsjahr</h6>
    </div>
    <div class="col-sm-9 text-secondary">
      {{obj.year}}
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">test</h6>
    </div>
    <div class="col-sm-9 text-secondary">
      Bay Area, San Francisco, CA
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">test</h6>
    </div>
    <div class="col-sm-9 text-secondary">
      Bay Area, San Francisco, CA
    </div>
  </div>


  <hr>

  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">test</h6>
    </div>
    <div class="col-sm-9 text-secondary">
      Bay Area, San Francisco, CA
    </div>
  </div>


  <hr>

  <div class="row">
    <div class="col-sm-3">
      <h6 class="mb-0">test</h6>
    </div>
    <div class="col-sm-9 text-secondary">
      Bay Area, San Francisco, CA
    </div>
  </div>


  
</div>