{% load static %}
<style>
  .flex { 
    display: flex; 
    justify-content: top; 
    align-items: top;
}
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: rgb(178, 218, 252);">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'start' %}" style="color: rgb(34, 34, 34)">Ausbilder-Tool</a>
    <a class="navbar-brand" href="{% url 'add' %}" style="float: right; color: whitesmoke"><image class="flex" height="20" src="{% static 'images/plus.png' %}"/></a>
    <a class="navbar-brand" href="{% url 'settings' %}" style="float: right; color: whitesmoke"><image class="flex" height="20" src="{% static 'images/settings1.png' %}"/></a>
  </div>

    

</nav>