<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="{% static 'javascript/test.js' %}"></script>
    
  </head>


    <title>Document</title>
</head>
<h1>Azubis</h1>
<body>
  <div>
    <h1>Block Content</h1>
    { %block content %}
    { % endblock %}
  </div>
        <div>
            {% for azubi in object_list %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ azubi.first_name }} {{azubi.last_name}}</h5>
                  <p class="card-text">Email: {{ azubi.email}}</p>
                  <a href="{% url 'detail' azubi.id %}" class="btn btn-primary">Mehr Anzeigen</a>
                </div>
              </div>
            {% endfor %}
        </div>
    

         
</body>

</html>





