<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="center">
        <form method="post" class="card" novalidate, style="align-items: center;">
            {% csrf_token %}
          <h2 class="text-center">Log in to your account</h2>
          <div class="text-center">
            {% for field in form %}
            {{ field.label_tag }} 
            {{ field }}
            <br>
            {% if field.errors %}
                <small>{{ field.errors|striptags }}</small> 
            {% endif %}
    {% endfor %}
    <input type="submit" value="Login" class="btn btn-primary" style="width: 250px">
          </div>
         
          <div style="  display: flex; align-items: center; justify-content: center;">
           
          </div>
         
          <hr>
      </form>
    </div>
</body>

